{{ define "main" -}}
<ul class="posts">
  <h1>Category: {{ .Title }}</h1>
  {{ range .Data.Pages -}}
  <li>
    <div class="flex">
      <h2><a href="{{ .Permalink }}" class="truncate plain-link">{{ .Title }}</a></h2>
    </div>
    <div>
      <time class="nowrap post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
    <div>{{ .Summary }}</div>
    <p class="mt-3"><a class="link block plain-link" href="{{ .Permalink }}">Read more →</a></p>
  </li>
  {{- end }}
</ul>
{{- end }}
