{{ define "main" }}
  <main>
    <article>
      <header>
        <h1><a class="plain-link" href="{{ .Parent.RelPermalink }}">{{ strings.FirstUpper .Data.Singular }}</a>: {{ .Title }}</h1>
      </header>
      {{ if .Parent }}
      <p><a class="plain-link" href="{{ .Parent.RelPermalink }}">← back to all {{ .Data.Plural }}</a></p>
      {{ end }}
      {{ .Content }}
    </article>
    <ul class="posts">
    {{- $paginator := .Paginate .Data.Pages -}}
    {{ range $paginator.Pages }}
      
      <h2>
        {{ with .Params.series }}<span class="series">{{ . }}</span>{{ end }}
        <a class="plain-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h2>
      {{ if eq .Kind "page" }}
      <div><time class="nowrap post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></div>
      <div>{{ plainify .Summary }}</div>
      <p class="mt-3"><a class="link block plain-link" href="{{ .Permalink }}">Read more →</a></p>
      {{ end }}
    {{ end }}
    </ul>
  </main>
  {{ template "_internal/pagination.html" . }}
{{ end }}
